<br>
<br>
<%= form_for @product do |form| %>
  <div class="container offset-2">
    <div class='row'>
      <div class='col-2'>
        <%= label_tag :'Main Category'%>
      </div>
      <div class='col-6'>
        <%= collection_select :product, :category_id, @category.order(:name),
                              :id, :name, include_blank: "Select Category" %><br>
      </div>
    </div>
    <div class='row'>
      <div class='col-2'>
        <%= label_tag :'Sub Category' %>
      </div>
      <div class='col-6'>
        <%= form.grouped_collection_select :sub_category_id, @category.order(:name),
                                           :sub_categories, :name, :id, :name, include_blank: "Select SubCategory" %>
      </div>
      <div>
      </div>
    </div>


    
    <br>
    <div class='row'>
      <div class='col-4'>
        <%= form.text_field :name, class: 'form-control',
            placeholder: 'Product Name'%>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-2'>
        <%= label_tag :"Choose Color"%>
      </div>
      <div class="custom-control custom-checkbox">
        <%= form.collection_check_boxes(:color_ids, @colors, :id, :name, class: "custom-control-input") do |b| %>
          <%= b.label { b.check_box + b.text } %>
        <% end %>
      </div>
    </div>
    <div class='row'>
      <div class='col-2'>
        <%= label_tag :"Select Size"%>
      </div>
      <div class="custom-control custom-checkbox">
        <%= form.collection_check_boxes(:size_ids, @size, :id, :measurements, class: "custom-control-input") do |b| %>
          <%= b.label { b.check_box + b.text } %>
        <% end %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-2">
        <%= form.number_field :price, class: 'form-control', placeholder: 'Enter Price' %>
      </div>
      <div class="col-3">
        <%= form.number_field :quantity, class: 'form-control', placeholder: 'Enter Quantity' %>
      </div>
    </div>
    <br>
    <div class="row">
      <%= form.file_field :images, multiple: true %><br>
    </div>
    <br>
    <div class="row">
      <%= form.submit "Add Product", class: 'btn btn-primary' %>
      <%= link_to "Back", products_path, class: 'btn btn-primary offset-1' %>
    </div>
  </div>
<% end %>


