<div class="container">
  <br>
  <div class=' col-md-9 offset-1 border'>
   <br>
    <div class="container">
      <div class="form-group row">
        <div class='col'>
          <h3>Personal Details</h3>
          <div class="row">
            Email: <%= current_user.email%>
          </div>
          <div class='row'>
            First Name: <%= @profile.first_name%>
          </div>
          <div class='row'>
            Last Name: <%= @profile.last_name %>
          </div>
          <div class='row'>
            Gender: <%= @profile.gender%>
          </div>
        </div>
        <div class='col'>
          <h3>Contact Details</h3>
          <div class='row'>
            <div class='col'>
              Address: <%= @profile.address %>
            </div>
          </div>
          <div class='row'>
            <div class='col-6'>
              City: <%= @profile.city %>
            </div>
            <div class='col-6'>
              State: <%= @profile.state%>
            </div>
          </div>
          <div class='row'>
            Phone Number: <%= @profile.phone_number %>
          </div>
        </div>
      </div>
      <div class='offset-4'>
        <%= link_to 'Edit Profile',edit_user_profile_path(current_user,current_user.profile), class: 'btn btn-primary' %>
      </div>
      <br>
    </div>
  </div>
</div>


