<!DOCTYPE html>
<html>
  <head>
    <title>ReadymadeGarment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   
    <% if current_user.present? && current_user.profile.role.eql?("admin") %>
      <nav class="navbar navbar-expand-lg navbar-light bg-danger navbar-dark static-top">
        <%= image_tag "logo2.jpeg" , height: 75%>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <%= link_to 'Home', admin_index_path, class: "nav-link"%>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to 'Category',categories_path%><br>
                <%= link_to 'Color', colors_path %><br>
                <%= link_to 'Size', size_index_path %>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.email.split("@").first%>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to 'My Profile', user_profile_path(current_user, current_user.profile)%><br>
                <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    <% elsif current_user.present? && current_user.profile.role.eql?("seller") %>
      <nav class="navbar navbar-expand-lg navbar-light bg-secondary navbar-dark static-top">
        <%= image_tag "logo2.jpeg" , height: 75%>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <%= link_to 'Home', sellers_path, class: "nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to 'Product',products_path, class: "nav-link"%>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.email.split("@").first%>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to 'My Profile', user_profile_path(current_user, current_user.profile)%><br>
                <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    <% else %>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning navbar-dark static-top">
      <div class="container">
        <a class="navbar-brand">
          <%= image_tag 'image2.png', height: 50%>
        </a>
        <% if current_user.present?%>
          <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Login', user_session_path %>
          <div class="dropdown show offset-9">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Registr As
            </a>
        
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <%= link_to 'Customer', new_user_registration_path %><br>
              <%= link_to 'Seller',newseller_path%>
            </div>
          </div>
        <% end %>
        
      </div>
    </nav>  
    <% end %>
    <%= yield %>
  </body>
</html>
